.scannerwork/*
.idea/*
*.class*
*/target/*
*/itemservice.iml
.idea*
*.class
target*
*.log
*.log.*
disnotice.db
*org*
.project
*.job
*.sql
#*.properties
*.bak
*mvn-lib*
/.arc_jira_lib
/.externalToolBuilders
*.settings/
.classpath
/build
/.idea/
/logs
*target/
*.iml
*.orig
*~
hbase-*/test
*.iws
*.ipr